faster_whisper==1.1.1
nvidia-cublas-cu12==12.6.4.1
nvidia-cudnn-cu12==9.5.1.17
ctranslate2==4.6.0
torchaudio==2.7.1
torch==2.7.1
numpy<2.0.0
nltk==3.9.1
lingua-language-detector==2.1.1
piper-tts==1.2.0
openai==1.92.2
requests==2.32.4
schedule==1.2.2
scipy==1.16.0
